QPushButton {
  width:100px;
  text-align:center;
  font-family: System;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border:  1px solid;
  border-color: #1071FF;
  color: #1071FF;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
   margin: 5px auto;
  border-radius: 0px;
  background-color: white;
}
QPushButton:hover {
  top: 5px;
  color: #1071FF;
  border: 1px solid;
  border-color:#1071FF;
  border-radius: 10px;
}
QPushButton:pressed {
  color: #000;
  border: #1A1A1A 1px solid;
  background-color: #FFF;
}

QLabel{
font-family:System;
font-size: 14px;
text-align: center;
padding: 3px;
padding-left: 5px;
padding-right: 5px;

}

Auth{
margin: 3rem;
width: 350px;
height: 250px;
background: #ccc;
color: white;
border: 1px solid;
border-color: black;
}
MainWindow{
margin: 3rem;
width: 350px;
height: 250px;
background: #ccc;
color: white;
border: 1px solid;
border-color: black;
}
QLabel {
margin: 2%;
}
QLabel#image{
border-radius:5%;
border: 5px solid #1071FF;
}
Registration{
margin: 3rem;
width: 350px;
height: 250px;
background: #ccc;
color: white;
border: 1px solid;
border-color: black;
}
EditProfile{
margin: 3rem;
width: 350px;
height: 250px;
background: #ccc;
color: white;
border: 1px solid;
border-color: black;
}
